---
import Link from '@/components/Link.astro'
import { buttonVariants } from '@/components/ui/button'
import { ICON_MAP } from '@/consts'
import type { SocialLink } from '@/types'
import { Icon } from 'astro-icon/components'
import { faGoogleScholar, faOrcid, faGithub, faLinkedin } from '@fortawesome/free-brands-svg-icons'
import { faEnvelope } from '@fortawesome/free-solid-svg-icons'

interface Props {
  links: SocialLink[]
}

const { links } = Astro.props
---

<ul class="flex flex-wrap gap-2" role="list">
  {
    links.map(({ href, label }) => (
      <li>
        <Link
          href={href}
          aria-label={label}
          title={label}
          class={buttonVariants({ variant: 'outline', size: 'icon' })}
          external
        >
          {label === 'Google Scholar' ? (
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox={`0 0 ${faGoogleScholar.icon[0]} ${faGoogleScholar.icon[1]}`}
              fill="currentColor"
              class="size-6"
              aria-hidden="true"
            >
              <path d={faGoogleScholar.icon[4] as string} />
            </svg>
          ) : label === 'ORCID' ? (
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox={`0 0 ${faOrcid.icon[0]} ${faOrcid.icon[1]}`}
              fill="currentColor"
              class="size-6"
              aria-hidden="true"
            >
              <path d={faOrcid.icon[4] as string} />
            </svg>
          ) : label === 'GitHub' ? (
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox={`0 0 ${faGithub.icon[0]} ${faGithub.icon[1]}`}
              fill="currentColor"
              class="size-6"
              aria-hidden="true"
            >
              <path d={faGithub.icon[4] as string} />
            </svg>
          ) : label === 'LinkedIn' ? (
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox={`0 0 ${faLinkedin.icon[0]} ${faLinkedin.icon[1]}`}
              fill="currentColor"
              class="size-6"
              aria-hidden="true"
            >
              <path d={faLinkedin.icon[4] as string} />
            </svg>
          ) : label === 'Email' ? (
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox={`0 0 ${faEnvelope.icon[0]} ${faEnvelope.icon[1]}`}
              fill="currentColor"
              class="size-6"
              aria-hidden="true"
            >
              <path d={faEnvelope.icon[4] as string} />
            </svg>
          ) : (
            <Icon
              name={
                ICON_MAP[label as keyof typeof ICON_MAP] ||
                'lucide:message-circle-question'
              }
              class="size-6"
            />
          )}
        </Link>
      </li>
    ))
  }
</ul>
